<div id="headerbg">
    <div id="header">
        <img class="left" src="/Content/img/logo.gif" alt="sarapath" />
    </div>
    <div id="topnav">
        <div style="color:white;text-align:center;font-size:25px;font-weight:bold;padding-top:5px;margin-left:10px;">
            <span class="left">Pathologist Distribution</span>
        </div>
        <div class="right relative display" style="padding-right:35px;">
            <span class="left" style="color:white; text-align:center; padding-top: 5px; padding-right:2px; font-size:13px;">@DateTime.Now.ToString("MM/dd/yyyy")</span>
        </div>

        <span class="bird">&nbsp;</span>
    </div>
</div>