@model PathDistribution.Models.VacationSchedules

<div id="offassignments" class="divTable">
    <div class="divTableHeading text2">
        <div class="divTableRow">
            <div class="divTableHead COLONE">Week</div>
            <div class="divTableHead COLTWO">Date</div>
            @Html.Partial("VacationScheduleCalHeader1",Model.PathScheduleData)
        </div>
        <div class="divTableRow">
            <div class="divTableHead COLONE">&nbsp;</div>
            <div class="divTableHead COLTWO">Days Off</div>
            @Html.Partial("VacationScheduleCalHeader2", Model.PathScheduleData)
        </div>
        <div class="divTableRow">
            <div class="divTableHead COLONE">&nbsp;</div>
            <div class="divTableHead COLTWO">Balance</div>
            @Html.Partial("VacationScheduleCalHeader3", Model.PathScheduleData)
        </div>
    </div>
    <div class="divTableBody text5">
        @Html.Partial("VacationScheduleCalData", Model.PathScheduleDates)
    </div>
</div>